doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Expert software development and product strategy in NYC.')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Subvrt

    script(type='text/javascript', src="//use.typekit.net/unj1qih.js")
    script(type="text/javascript") try{Typekit.load();}catch(e){}
    != css('/')

  body
    header
      div
        h1
          a(href='/', title='Home') S
      block header
    block content
    footer
      a(href="mailto: info@subvrt.com") info@subvrt.com
      br
      | 2015 Subvrt, LLC

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62388425-1', 'auto');
      ga('send', 'pageview');
    != js('/')